<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  {% if page.title -%}
    <title>{{ page.title }} ({{ site.title }})</title>
  {%- else -%}
    <title>{{ site.title }} &mdash; {{ site.tagline }}</title>
  {%- endif %}
  
  {% seo title=false %}
  
  <link rel="stylesheet" href="{%- link assets/css/reset.css -%}" />
  <link rel="stylesheet" href="{%- link assets/css/base.css -%}" />
  <link rel="stylesheet" href="{%- link assets/css/layout.css -%}" />
  <link rel="stylesheet" href="{%- link assets/css/highlights.css -%}" />
  <link rel="stylesheet" href="{%- link assets/css/theme.css -%}" />
  <link rel="stylesheet" href="{%- link assets/fonts/fonts.css -%}" />
  
  {% feed_meta %}
  {% json_feed_meta %}
</head>
