.container {
  margin: 0 auto;
  padding-left: calc(var(--spacing-unit) / 2);
  padding-right: calc(var(--spacing-unit) / 2);
  width: 100%;
  max-width: 110rem;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

/*
  Site Header
*/

.site-header {
  background: var(--background-header);
  padding-top: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
}

.site-header .container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 960px) {
  .site-header .container {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.site-header .site-logo {
  max-height: 3.2rem;
  max-width: 30rem;
}

@media screen and (prefers-color-scheme: dark) {
  .site-header .site-logo {
    filter: invert(1) hue-rotate(180deg);
  }
}

.main-menu {
  display: flex;
  flex-flow: row nowrap;
  gap: calc(var(--spacing-unit) / 2);
}

@media screen and (max-width: 959px) {
  .main-menu {
    justify-content: flex-start;
    margin-left: calc(var(--spacing-unit) * -1.5);
    margin-right: calc(var(--spacing-unit) * -1.5);
    padding-bottom: calc(var(--spacing-unit) / 2);
    max-width: 100vw;
    overflow-x: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .main-menu::before,
  .main-menu::after {
    content: " ";
    display: block;
    padding: calc(var(--spacing-unit) / 2);
  }
  
  .main-menu::before {
    margin-left: auto;
  }
  
  .main-menu::after {
    margin-right: auto;
  }
}

.main-menu:last-child::after {
  margin-right: auto;
}

.main-menu .menu-item {
  --item-color: var(--color-text);
  background: var(--item-color);
}

.menu-item {
  background: var(--color-accent);
  border-radius: 2.5em;
  color: var(--background-body);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
  text-transform: uppercase;
  text-decoration: none;
  transition: all 160ms ease;
}

.menu-item:hover,
.menu-item:focus {
  background: var(--color-accent-alt);
}

.menu-item:active {
  background: var(--color-accent-alt);
  box-shadow: 0 0 0 .25rem var(--color-shadows);
  color: var(--background-body);
}


/*
  Site Content
*/

.site-content {
  flex-grow: 1;
  position: relative;
  z-index: 2;
  background: var(--background-body);
  box-shadow: 0 0 0 1rem var(--color-shadows);
  min-height: 100px;
}

/*
  Site Footer
*/

.site-footer {
  background: var(--background-footer);
  font-size: var(--small-font-size);
  padding-top: calc(var(--spacing-unit) * 2);
  padding-bottom: calc(var(--spacing-unit) * 2);
}

.site-footer .container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-unit);
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .site-footer .container {
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
  }
}

.site-footer .footer-menu {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-unit);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (min-width: 960px) {
  .site-footer .footer-menu {
    gap: calc(var(--spacing-unit) / 2);
    align-items: flex-end;
    flex-flow: column nowrap;
    text-align: right;
  }
}
