.container {
  margin: 0 auto;
  padding-left: calc(var(--spacing-unit) / 2);
  padding-right: calc(var(--spacing-unit) / 2);
  width: 100%;
  max-width: 110rem;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

/*
  Site Header
*/

.site-header {
  background: var(--background-header);
  flex-shrink: 0;
  padding-top: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
}

.site-header .container {
  display: flex;
  gap: var(--spacing-unit);
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 960px) {
  .site-header .container {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.site-header .site-title {
  display: inline-block;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  margin: 0;
}

.site-header .site-title a {
  display: block;
  color: var(--color-text);
}

.site-header .site-logo {
  height: auto;
  max-height: 3.2rem;
  max-width: 30rem;
  background: none;
  box-shadow: none;
  border-radius: 0;
  opacity: 1;
}

@media screen and (prefers-color-scheme: dark) {
  .site-header .site-logo {
    filter: invert(1) hue-rotate(180deg);
  }
}

/* Site Menu */
.main-menu {
  display: flex;
  flex-flow: row nowrap;
  gap: calc(var(--spacing-unit) / 2);
}

@media screen and (max-width: 959px) {
  .main-menu {
    justify-content: flex-start;
    margin-left: calc(var(--spacing-unit) * -1.5);
    margin-right: calc(var(--spacing-unit) * -1.5);
    padding-bottom: calc(var(--spacing-unit) / 2);
    max-width: 100vw;
    overflow-x: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .main-menu::before,
  .main-menu::after {
    content: " ";
    display: block;
    padding: calc(var(--spacing-unit) / 2);
  }
  
  .main-menu::before {
    margin-left: auto;
  }
  
  .main-menu::after {
    margin-right: auto;
  }
}

.main-menu:last-child::after {
  margin-right: auto;
}

.main-menu .menu-item {
  --item-color: var(--color-text);
  background: var(--item-color);
}

.menu-item {
  background: var(--color-accent);
  border-radius: 2.5em;
  color: var(--background-body);
  display: inline-block;
  flex: 0 0 auto;
  font-size: var(--small-font-size);
  font-weight: 700;
  line-height: 1;
  padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
  text-transform: uppercase;
  text-decoration: none;
  transition: all 160ms ease;
}

.menu-item:hover,
.menu-item:focus {
  background: var(--color-accent-alt);
}

.menu-item:active {
  background: var(--color-accent-alt);
  box-shadow: 0 0 0 .25rem var(--color-shadows);
  color: var(--background-body);
}

/*
  Site Footer
*/

.site-footer {
  background: var(--background-footer);
  flex-shrink: 0;
  font-size: var(--small-font-size);
  padding-top: calc(var(--spacing-unit) * 2);
  padding-bottom: calc(var(--spacing-unit) * 2);
}

.site-footer .container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-unit);
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .site-footer .container {
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
  }
}

.site-footer .footer-menu {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-unit);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (min-width: 960px) {
  .site-footer .footer-menu {
    gap: calc(var(--spacing-unit) / 2);
    align-items: flex-end;
    flex-flow: column nowrap;
    text-align: right;
  }
}

.site-footer .site-title,
.site-footer p {
  margin-bottom: 0;
}

.site-footer .site-title {
  font-size: var(--small-font-size);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/*
  Site Content
*/

.site-content {
  flex-grow: 1;
  position: relative;
  z-index: 2;
  background: var(--background-body);
  box-shadow: 0 0 1rem var(--color-shadows);
  min-height: 100px;
}

.site-content .container {
  display: grid;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-unit) * 3);
  grid-template-columns: 100%;
  grid-template-areas: 
    "content"
    "sidebar"
  ;
  padding-top: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
}

@media screen and (min-width: 690px) {
  .site-content .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "content content sidebar";
  }
}

.blog-posts,
.page {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

/*
  Blog
*/

.archive-title {
  margin-bottom: calc(var(--spacing-unit) * 2);
}

/* Pagination */
.blog-pagination {
  margin-top: calc(var(--spacing-unit) * 2);
  margin-bottom: var(--spacing-unit);
}

.blog-pagination .pagination-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-unit);
}

.pagination-links a {
  display: inline-block;
  flex-shrink: 1;
  flex-grow: 0;
  text-align: center;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  gap: var(--spacing-unit);
}

.sidebar-widget {
  font-size: var(--small-font-size);
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 20rem;
}

.sidebar-widget .widget-title {
  font-size: var(--base-font-size);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sidebar-widget .widget-content ul,
.sidebar-widget .widget-content ol,
.sidebar-widget .widget-content dl {
  margin-left: 0;
}

/*
  The Post
*/
.post:not(:last-of-type) {
  margin-bottom: calc(var(--spacing-unit) * 2);
}

/* Post Header */
.post .post-header {
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.post-header .post-meta {
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--spacing-unit) / 2);
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.post .post-title {
  font-weight: normal;
  margin-bottom: 0;
  font-size: clamp(2.2rem, 2.75vw, 2.8rem);
}

.post .post-title a {
  color: var(--color-text);
}

/* Post Footer */
.post-footer {
  margin-top: calc(var(--spacing-unit) / 2);
}

.post-footer .post-tags {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: calc(var(--spacing-unit) / 2);
}

.post-tags a {
  text-decoration-color: currentcolor;
}

.post-footer p,
.post-footer ul {
  margin: 0;
}

/* Post Meta */
.post .post-meta {
  font-size: var(--small-font-size);
  color: var(--color-details);
}

.post .post-meta a {
  color: currentcolor;
  text-decoration: underline;
}

.post .post-meta a:hover,
.post .post-meta a:focus {
  color: var(--color-accent-alt);
}
